# Dependencies
node_modules/
*/node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.env
backend/.env

# Production build output
dist/
*/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temp & Artifacts
.tempmediaStorage/
scratch/
